{% extends "formtemplate.html" %}

{% block  Contet%}
<h1>Добавить мероприятие</h1>
    <form method = "POST" autocomplete = 'off' >
    {% csrf_token %}
    {{form.errors}}
        <div class="field">
            <label class = "fieldlabel" for="{{form.name_risk.id_for_label}}">Название риска:</label>
            {{ form.name_risk }}
        </div>
        <hr>
        <div class="field">
            <label class = "fieldlabel" for="{{form.owner.id_for_label}}">Владелец риска:</label>
            {{ form.owner }}
        </div>
        <hr>
        <div class="field">
            <label class = "fieldlabel" for="{{form.number.id_for_label}}">№</label>
            {{ form.number }}
        </div>
        <hr>
        <div class="field">
            <label class = "fieldlabel" for="{{form.name_event.id_for_label}}">Наиминование мероприятия:</label>
            {{ form.name_event }}
        </div>
        <hr>
        <div class="field">
            <label class = "fieldlabel" for="{{form.description.id_for_label}}">Краткое описание:</label>
            {{ form.description }}
        </div>
        <hr>
        <div class="field">
            <label class = "fieldlabel" for="{{form.responsible_persons.id_for_label}}">Ответственное лицо:</label>
            {{ form.responsible_persons }}
        </div>
        <hr>
        <div class="field">
            <label class = "fieldlabel" for="{{form.periodicity.id_for_label}}">Переодичность выполнения:</label>
            {{ form.periodicity }}
        </div>
        <hr>
        <div class="field">
            <label for="{{form.critical_date.id_for_label}}">Срок выполнения:</label>
            {{form.critical_date}}
        </div>

    <button type="submit" name = "save">Сохранить</button>
    </form>
{% endblock  %}
