
    <table>
        <thead class = "first-row">
            <td>№</td>
            <td>Название процесса</td>
            <td>Стартовое событие</td>
            <td>Владелец</td>
            <td>Описание</td>
        </thead>
        <tr class = "rowtable">
            <td><input name = "ProcID" class = "choose" type = "radio"  value = "{{process.id}}">{{process.id}}</td>
            <td><b>{{process.name}}</b></td>
            <td><b>{{process.start_event}}</b></td>
            <td><b>{{process.owner}}</b></td>
            <td><b>{{process.description}}</b></td>
        </tr>
        {% for info in children %}
        
        <tr class = "rowtable">
            <td><input name = "ProcID" class = "choose" type = "radio"  value = "{{info.id}}">{{info.id}}</td>
            <td><a href = "{% url 'getid' info.id %}">{{info.name}}</a></td>
            <td>{{info.start_event}}</td>
            <td>{{info.owner}}</td>
            <td>{{info.description}}</td>
        </tr>
        
        {% endfor %}
    </table>
    <script>
    </script>